/figures
/full_scenarios.xlsx
/Internal meeting_20220316.pptx
/model_output_scenarios.xlsx
/model_output_scenariosc check.xlsx
/model_values.xlsx
/Other Tools for Reference
/PV Batt Dispatch Flowchart.drawio
/PV Batt Dispatch Flowchart.pdf
/PV+Storage Background
/test.py
/zzz_superceded